@import "colors";
@import "~bootstrap/scss/bootstrap";

html {
  height: 100%;
  body {
    color: $textcolor;
    .content {
      outline: 1px dashed $textcolor;
    }
    .footer {
      outline: 1px dashed red;
    }
  }
}