doctype html
html(lang="en")
    head
        title= pageTitle
    body
        h1 About us
        .content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, cupiditate debitis dolorem iste minus nemo obcaecati quia ut vero voluptatem. 3321
            br
            hr
        footer.footer This is footer

