<!doctype html>
<html lang="en">
<head>
    <% include ./src/parts/meta.ejs %>
    <title>Контакты</title>
</head>
<body>
    <h1>Contacts</h1>
    <div class="content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut distinctio et eum hic illo in itaque minus natus neque nobis non nostrum optio, quae quia tenetur, voluptatem. Accusantium architecto beatae dignissimos enim expedita facere, facilis fugit libero magni minus nisi quibusdam quis, sapiente? Consectetur incidunt necessitatibus provident. Dolorum ex laborum molestias nihil non voluptates! Accusamus animi asperiores consectetur consequuntur debitis, dolore doloribus fuga fugiat fugit impedit ipsa, minus molestias quia repellat sequi soluta tempora veritatis voluptatum. Aliquam beatae, doloremque earum esse nam non perferendis quibusdam ullam ut.</p>
      <a href="./index.html">Home Page</a>
    </div>
    <% include ./src/parts/footer.ejs %>
</body>
</html>