<!DOCTYPE html>
<html>
<head>
    <% include ./src/pages/parts/meta.ejs %>
    <title>Стартовый шаблон</title>
</head>
<body>
    <h1>Главная</h1>
    <% include ./src/pages/parts/nav.ejs %>
    <div class="content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque, dolore enim esse et itaque iusto minus nostrum possimus rem repellendus velit veniam! Earum, eos libero natus nisi numquam quidem temporibus unde! Aliquam beatae error esse maxime mollitia perspiciatis porro quasi velit voluptatibus. Ad deserunt et necessitatibus sapiente tempora. Aspernatur beatae distinctio enim est facilis illo inventore ipsa iusto, omnis qui quisquam ratione sapiente temporibus, totam velit veritatis voluptatibus! Amet, assumenda beatae blanditiis illo, inventore minus perspiciatis, quo recusandae rerum soluta ut veniam! Ad corporis id nam numquam?</p>
    <a href="./contacts.html">Contact Page</a>
    <img src=<%= require("./../img/code.png") %> alt="laptop" />
    </div>
    <% include ./src/pages/parts/footer.ejs %>
</body>
</html>