extends ../layouts/main
block variables
  - var title = 'Main Title'

block content
  .content
    h2 Main page
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, cupiditate debitis dolorem iste minus nemo obcaecati quia ut vero voluptatem.
    br
    #lorem
    a(href="./about.html") About page