extends layout

block content
  h1 Main page
  .content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, cupiditate debitis dolorem iste minus nemo obcaecati quia ut vero voluptatem.
  br
  #lorem
  a(href="./about.html") About page